<div class="socialbuttons-inner component-inner" role="region" aria-label="{{_globals._components._socialbuttons.ariaRegion}}">
    {{#if twitterURL}}
        <a class="social" target="_blank" href="{{ twitterURL }}"><img src="assets/twitter.png"></a>
    {{/if}}
    {{#if facebookURL}}
    <a class="social" target="_blank" href="{{ facebookURL }}"><img src="assets/facebook.png"></a>
    {{/if}}
    {{#if soundcloudURL}}
    <a class="social" target="_blank" href="{{ soundcloudURL }}"><img src="assets/soundcloud.png"></a>
    {{/if}}
    {{#if scribdURL}}
    <a class="social" target="_blank" href="{{ scribdURL }}"><img src="assets/scribd.png"></a>
    {{/if}}
    {{#if githubURL}}
    <a class="social" target="_blank" href="{{ githubURL }}"><img src="assets/github.png"></a>
    {{/if}}
    {{#if vimeoURL}}
    <a class="social" target="_blank" href="{{ vimeoURL }}"><img src="assets/vimeo.png"></a>
    {{/if}}
    {{#if youtubeURL}}
    <a class="social" target="_blank" href="{{ youtubeURL }}"><img src="assets/youtube.png"></a>
    {{/if}}
    {{#if flickrURL}}
    <a class="social" target="_blank" href="{{ flickrURL }}"><img src="assets/flickr.png"></a>
    {{/if}}
</div>
